<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% include 'swagger-ui-css.html' %}

    <link rel="icon" type="image/png" href="{{ swagger_static('favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ swagger_static('favicon-16x16.png') }}" sizes="16x16"/>

</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" style="position:absolute;width:0;height:0">
    <defs>
        <symbol viewBox="0 0 20 20" id="unlocked">
            <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V6h2v-.801C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8z"></path>
        </symbol>

        <symbol viewBox="0 0 20 20" id="locked">
            <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8z"/>
        </symbol>

        <symbol viewBox="0 0 20 20" id="close">
            <path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z"/>
        </symbol>

        <symbol viewBox="0 0 20 20" id="large-arrow">
            <path d="M13.25 10L6.109 2.58c-.268-.27-.268-.707 0-.979.268-.27.701-.27.969 0l7.83 7.908c.268.271.268.709 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0-.268-.269-.268-.707 0-.979L13.25 10z"/>
        </symbol>

        <symbol viewBox="0 0 20 20" id="large-arrow-down">
            <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83c-.27.268-.707.268-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969.271-.268.709-.268.979 0L10 13.25l7.418-7.141z"/>
        </symbol>


        <symbol viewBox="0 0 24 24" id="jump-to">
            <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z"/>
        </symbol>

        <symbol viewBox="0 0 24 24" id="expand">
            <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"/>
        </symbol>

    </defs>
</svg>


<div>
    <div id='header'>
        <div class="swagger-ui-wrap">
            <a id="logo" href="https://www.contrataciones.gov.py/datos">DATOS ABIERTOS</a>

            <form id='api_selector'>
                <!-- div class='input icon-btn'>
                  <img id="show-pet-store-icon" src="images/pet_store_api.png" title="Show Swagger Petstore Example Apis">
                </div>
                <div class='input icon-btn'>
                  <img id="show-wordnik-dev-icon" src="images/wordnik_api.png" title="Show Wordnik Developer Apis">
                </div -->
                <div class='input'><input placeholder="{{ specs_url }}" id="input_baseUrl" name="baseUrl" type="text"/>
                </div>
                <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
                <div class='input'><a id="explore" href="#">Explore</a></div>
            </form>
        </div>
    </div>

    <div id="message-bar" class="swagger-ui-wrap">
        &nbsp;
    </div>
    <div id="app-help-documentation" class="swagger-ui-wrap">
        <div class="custom-highlight-doc">
            <h1 id="api-title">Bienvenido a la versión 3</h1>
            <h2>¿Cómo utilizar esta documentación?</h2>
            <table style="border:none;">
                <tr>
                    <td>1.</td>
                    <td>El primer paso es registrarse como usuario en el Portal de Datos Abiertos de la DNCP <a
                            href="/datos/aplicaciones"><span class="label label-default">aquí.</span></a></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Una vez registrado como usuario en el Portal, el siguiente paso es crear una aplicación. Al
                        crear la aplicación el sistema generará las credenciales (customer key y customer secret)
                        y el correspondiente request token, necesarios para realizar la autenticación. Cada aplicación
                        tiene un límite de 15 minutos.
                    </td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>El servicio /oauth/token es el que realiza la autenticación, se debe pasar como payload del
                        cuerpo del POST HTTP el request token. Si la autenticación se realiza con éxito, el
                        servicio devolverá un access token.
                    </td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>El access token generado por el servicio de autenticación tiene un tiempo de vida de 15 minutos.
                        Una vez transcurrido ese tiempo el access token expirará y deberá volver a autenticarse para
                        conseguir uno nuevo.
                    </td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Para utilizar los servicios se debe pasar como parámetro de la cabecera Authorization HTTP el access token con
                        el siguiente formato: [access_token].
                    </td>
                </tr>
            </table>
            <br/>
            <p><b>Observaciones</b></p>
            <table style="border:none;">
                <tr>
                    <td>a.</td>
                    <td>Los servicios utilizan la clave OAUTH del Servicio de Autenticación. Dejando vacío este
                        parámetro solo se permiten 4 llamados
                        por segundo para propósitos de testing. Si se quiere usar los servicios en entornos de
                        desarrollo y producción se debe utlizar la
                        clave OAUTH cuyo validez es de 15 minutos.
                    </td>
                </tr>
                <tr>
                    <td>b.</td>
                    <td>Los parámetros con un * son requeridos para el servicio​.</td>
                </tr>
                <tr>
                    <td>c.</td>
                    <td>La sección <b>"Servicios del Open Contracting Data Standard"</b> devuelve la información de
                        Contrataciones Públicas del
                        Paraguay en el formato definido por el Estándar Open Contracting (OCDS).
                        Para más información acerca del estándar ir a
                        <a href="https://standard.open-contracting.org/latest/en/" target="_blank">https://standard.open-contracting.org/latest/en/</a></p>
                        <p>Para más información sobre la implementación del estándar ir a <a
                                href="https://www.contrataciones.gov.py/datos/open-contracting-info" target="_blank">https://www.contrataciones.gov.py/datos/open-contracting-info</a>
                        </p>
                    </td>
                </tr>
            </table>
            <br/>

            <p>Ver el Manual de Usuario <a href="/datos/manual">aquí.</a></p>
            </p>
        </div>
    </div>

    <div id="swagger-ui">
    </div>
</div>


{% include 'swagger-ui-libs.html' %}
<script type="text/javascript">
    window.onload = function () {
        const ui = window.ui = new SwaggerUIBundle({
            url: "{{ specs_url }}",
            validatorUrl: "{{ config.SWAGGER_VALIDATOR_URL }}" || null,
            dom_id: "#swagger-ui",
            presets: [
                SwaggerUIBundle.presets.apis,
                //  SwaggerUIStandalonePreset.slice(1) // No Topbar
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            displayOperationId: {{ config.SWAGGER_UI_OPERATION_ID|default(False)|tojson }},
            displayRequestDuration: {{ config.SWAGGER_UI_REQUEST_DURATION|default(False)|tojson }},
            docExpansion: "{{ config.SWAGGER_UI_DOC_EXPANSION | default('none') }}"
        });

        {% if config.SWAGGER_UI_OAUTH_CLIENT_ID -%}
            ui.initOAuth({
                clientId: "{{ config.SWAGGER_UI_OAUTH_CLIENT_ID }}",
                realm: "{{ config.SWAGGER_UI_OAUTH_REALM }}",
                appName: "{{ config.SWAGGER_UI_OAUTH_APP_NAME }}"
            });

        {%- endif %}
    };

</script>
</body>
</html>
